html , body {
    color: rgb(27, 1, 1);
    background-color:indigo;
    font-family:forestgreen;
    font-size: 1.3rem;
    padding: 67px;
}

button {
    padding: 10 px;
    font-size: 1.3 rem;
    margin-right: 10px;
}